<h1>hello</h1>

<% @my_sounds.each do |sound| %>
<div class="d-flex flex-row flex-wrap">

<div class="wavy-card">
  <div id="progress">
  </div>
  <div class="wavy-card-1">
  <div class="card-head" id="title">
    <div id="timer">0:00</div>
    <span id="track"></span>
    <div id="duration">0:00</div>
  </div>


  <div class="wavediv">

    <div id="waveform"></div>

    <div id="bar"></div>

     <div id="playlist">
      <div id="list"></div>
    </div>
  </div>


   <div class="card-foot">
    <div class="btn" id="playlistBtn"></div>
    <div class="controls">
     <div class="controlsOuter">
       <div class="controlsInner">
        <div id="loading"></div>
        <div class="btn" id="prevBtn"></div>
        <div class="btn" id="pauseBtn"></div>
        <div class="btn" id="playBtn"></div>
        <div class="btn" id="nextBtn"></div>
      </div>
     </div>
    </div>
    <div class="btn" id="volumeBtn"></div>
  </div>

  <div id="volume" class="fadeout">
    <div id="barFull" class="bar"></div>
    <div id="barEmpty" class="bar"></div>
    <div id="sliderBtn"></div>
  </div>
    <div class="card-desc">

   <div>
    <h2>  <%= sound.title %></h2>
    <p><%= sound.genre %></p>
  </div>
  <%= link_to 'Bid !', sound_path(sound) %>
     <h2 class="pricing">
    <% if sound.auctions.empty? %>
     <%= "#{sound.price} $" %>
    <% else %>
     <%= "#{sound.auctions.map{|auction| auction.amount}.compact.max} $" %>
     <% end %>
   </h2>
   <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-desc-user avatar-bordered" />
</div>
 </div>

  </div>


</div>
</div>


<% end %>


