
<% @sounds.each do |sound| %>
  <% if sound.sold == false %>
<div class="d-flex flex-row flex-wrap">

<div class="wavy-card" id="sound-<%= sound.id %>" data-url="<%= sound.audio_url %>">

  <audio id="player" controls>
      <source src="<%= sound.audio_url %>" type="audio/mp3" />
  </audio>

    <div class="card-desc">
   <div>
    <p><%= sound.genre %></p>
    <p><%= "Bpm: #{sound.bpm}" %></p>
  </div>
  <%= link_to 'Bid', sound_path(sound) %>
   <h2 class="pricing">
    <% if sound.auctions.empty? %>
     <%= "#{sound.price} $" %>
    <% else %>
     <%= "#{sound.auctions.map{|auction| auction.amount}.compact.max} $" %>
     <% end %>

   </h2>
   <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-desc-user avatar-bordered" />
</div>
 </div>

  </div>


</div>
</div>
<% end %>
<% end %>
