<div class="container">
  <div class="row">
      <% @sounds.each do |sound| %>
      <% if sound.sold == false %>
      <div class="col-6">
          <div class="wavy-card" id="sound-<%= sound.id %>" data-url="<%= sound.audio_url %>">
          <div class="imageson">
          <%= cl_image_tag sound.cloudinary_img,width: 400, height: 330%>
        </div>

          <audio id="player" controls>
            <source src="<%= sound.audio_url %>" type="audio/mp3" />
          </audio>
          <div class="card-desc">
            <div>
              <p><strong><%= sound.genre %></strong></p>
              <p><strong><%= "Bpm: #{sound.bpm}" %></strong></p>
            </div>
            <div>
            <button type="button" id="BTNBID" ><%= link_to 'BID/BUY NOW!', sound_path(sound) %></button>
            </div>
              <h2 class="pricing"> </h2>
              <% if sound.auctions.empty? %>
                <strong><%= "#{sound.price} $" %></strong>
              <% else %>
                <strong><%= "#{sound.auctions.map{|auction| auction.amount}.compact.max} $" %></strong>
              <% end %>
          </div>
        </div>
        </div>
      <% end %>
      <% end %>
  </div>
</div>
