<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Me And Art - Soundmaker assembly</title>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
 </head>
  <body id="<%= controller.controller_name %>-<%= controller.action_name %>">
    <% if user = current_user %>
    <%= render 'shared/navbar' %>
    <% end %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <script src="https://unpkg.com/siriwave/dist/siriwave.js"></script>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
